<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IsLoggedIn</servlet-name>
        <servlet-class>project.dme.servlets.IsLoggedIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>project.dme.servlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>project.dme.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUserDetails</servlet-name>
        <servlet-class>project.dme.servlets.ShowUserDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowOrders</servlet-name>
        <servlet-class>project.dme.servlets.ShowOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>project.dme.servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>project.dme.servlets.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrepareOrder</servlet-name>
        <servlet-class>project.dme.servlets.PrepareOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddanAddress</servlet-name>
        <servlet-class>project.dme.servlets.AddanAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceOrder</servlet-name>
        <servlet-class>project.dme.servlets.PlaceOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProduct</servlet-name>
        <servlet-class>project.dme.servlets.ShowProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUsernameAvailability</servlet-name>
        <servlet-class>project.dme.servlets.CheckUsernameAvailability</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllOfACat</servlet-name>
        <servlet-class>project.dme.servlets.ShowAllOfACat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPendimgOrders</servlet-name>
        <servlet-class>project.dme.servlets.GetPendimgOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProduct</servlet-name>
        <servlet-class>project.dme.servlets.SearchProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IsLoggedIn</servlet-name>
        <url-pattern>/IsLoggedIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUserDetails</servlet-name>
        <url-pattern>/ShowUserDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowOrders</servlet-name>
        <url-pattern>/ShowOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrepareOrder</servlet-name>
        <url-pattern>/PrepareOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddanAddress</servlet-name>
        <url-pattern>/AddanAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceOrder</servlet-name>
        <url-pattern>/PlaceOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProduct</servlet-name>
        <url-pattern>/ShowProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUsernameAvailability</servlet-name>
        <url-pattern>/CheckUsernameAvailability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllOfACat</servlet-name>
        <url-pattern>/ShowAllOfACat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPendimgOrders</servlet-name>
        <url-pattern>/GetPendimgOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProduct</servlet-name>
        <url-pattern>/SearchProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomePage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
